{% extends "sancho/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
Backtest Listing
{% endblock %}

{% block content %}
<h1>List of Available Backtests</h1>
<a href="{% url 'sancho:export_backtests' %}" class="btn btn-primary">Exportar a CSV</a>
<table class="table">
    <thead>
        <th>
            <tr>
                <th colspan="13" style="text-align: center;">Número de backtests: {{ mts|length }}</th>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: center;">Opti.#</th>
                <th scope="col" style="text-align: center;">Symbol</th>
                <th scope="col" style="text-align: center;">Order Type</th>
                <th scope="col" style="text-align: center;">TimeFrame</th>
                <th scope="col" style="text-align: center;">¿Valida?</th>
                <th scope="col" style="text-align: center;">k-ratio</th>
                <th scope="col" style="text-align: center;">RF</th>
                <th scope="col" style="text-align: center;">Num.Ops</th>
                <th scope="col" style="text-align: center;">%wins</th>
                <th scope="col" style="text-align: center;">Máx. Exposición</th>
                <th scope="col" style="text-align: center;">Ratio</th>
                <th scope="col" style="text-align: center;">Días cierre</th>
            </tr>
        </th>
    </thead>
    <tbody>
        {% for mt in mts %}
        {# if mt.backtest.periodtype_display == BtPeriod.ISOS #}
        <tr>
            <th scope="row" style="text-align: center;">{{ mt.backtest.name }}</th>
            <td style="text-align: center;">{{ mt.backtest.optimization }}</td>
            <td style="text-align: center;">{{ mt.backtest.symbol }}</td>
            <td style="text-align: center;">{{ mt.backtest.ordertype }}</td>
            <td style="text-align: center;">{{ mt.backtest.timeframe_display }}</td>
            <td style="text-align: center;">{{ mt.is_valid }}</td>
            <td style="text-align: center;">{{ mt.kratio }}</td>
            <td style="text-align: center;">{{ mt.rf }}</td>
            <td style="text-align: center;">{{ mt.num_ops }}</td>
            <td style="text-align: center;">{{ mt.pct_winner }}</td>
            <td style="text-align: center;">{{ mt.max_exposure }}</td>
            <td style="text-align: center;">{{ mt.ratio }}</td>
            <td style="text-align: center;">{{ mt.closing_days }}</td>
        </tr>
        {# endif #}
        {% endfor %}
    </tbody>
</table>
{% endblock %}