{% extends 'sancho/base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Resultados de Backtests.</h1>
  <h2 class="mt-3">Backtests procesados: {{ num_bts }}, Periodos procesados: {{ num_periods }}</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <!--
        <div class="col-6">
          <h5>Archivos procesados:</h5>
          <ul>
            {% for bt in bts %}
            <li>{{ bt.name }}</li>
            {% endfor %}
          </ul>
        </div>
        -->
        <div class="col-6">
          <h5>Resultados:</h5>
          <table class="table">
            <thead>
              <th>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Optimization #</th>
                  <th scope="col">Symbol</th>
                  <th scope="col">Order Type</th>
                  <th scope="col">BT Period</th>
                  <th scope="col">TimeFrame</th>
                  <th scope="col">Is Valid?</th>
                </tr>
              </th>
            </thead>
            <tbody>
              {% for mt in mts %}
              <tr>
                <th scope="row">{{ mt.name }}</th>
                <td>{{ mt.optimization }}</td>
                <td>{{ mt.symbol }}</td>
                <td>{{ mt.ordertype_text }}</td>
                <td>{{ mt.period_text }}</td>
                <td>{{ mt.timeframe }}</td>
                <td>{{ mt.valid }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}