{% extends 'sancho/base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Resultados de backtests</h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h5>Archivos procesados:</h5>
          <ul>
            {% for bt in bts %}
            <li>{{ bt.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-6">
          <h5>Resultados:</h5>
          <table class="table">
            <thead>
              <th>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Optimization #</th>
                  <th scope="col">Symbol</th>
                  <th scope="col">Order Type</th>
                  <th scope="col">TimeFrame</th>
                  <th scope="col">Is Valid?</th>
                </tr>
              </th>
            </thead>
            <tbody>
              {% for mt in mts %}
              <tr>
                <th scope="row">{{ mt.backtest.name }}</th>
                <td>{{ mt.backtest.optimization }}</td>
                <td>{{ mt.backtest.symbol }}</td>
                <td>{{ mt.backtest.ordertype }}</td>
                <td>{{ mt.backtest.timeframe }}</td>
                <td>{{ mt.is_valid }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}