<!-- templates/home.html -->
{% load django_bootstrap5 %}
{% load socialaccount %}

<div class="container">
    <h1>Backtesting Land</h1>
</div>

{% if user.is_authenticated %}
<div class="container">
    <p>¡¡¡ Bienvenido {{ user.username }} !!!
        <a href="{% url 'account_logout' %}">Salir</a>
    </p>
</div>
{% else %}
<div class="container">
    <!-- <a href="{% provider_login_url 'github' %}">Sign Up with Github</a> <br> -->
    <a href="{% url 'account_login' %}">Registrarse con Email and Password</a>
</div>
{% endif %}